@charset "UTF-8";

/** Modify problem of space in bolder Microsoft Jhenhei **/
@font-face {
  font-family: "Microsoft JhengHei Fixed";
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(Yu Gothic), local(MS Gothic);
}
/* Use original Microsoft Jhenhei when font-weight is normal */
@font-face {
  font-family: "Microsoft JhengHei Fixed";
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: normal;
  src: local(Microsoft JhengHei), local(微軟正黑體);
}

/** Variables **/
:root {
  --color-error: #f44336;
  --color-error-dark: #b71c1c;
  --color-form-input-border: #999;
  --color-crm-special-contribute-primary: var(--neticrm-color-crm-special-contribute-primary, #3f51b5);
  --color-crm-special-contribute-info-link: var(--neticrm-color-crm-special-contribute-info-link, #c4ccff);
}

/**
 Structure
 */
body, p, input, #main h1, #main h2, #main h3, #main h4, #main h5, #main h6{
  font-family: "PingFang TC", "Heiti TC", "Noto Sans TC", "Noto Sans CJK TC", NotoSansCJKtc-Regular, source-han-sans-traditional, "Microsoft JhengHei Fixed", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}
body.logged-in .admin-header, 
body.logged-in #admin-sidebar{
  display: none;
}

body #page{
  background: none;
}
.frontend .main#main,
.frontend.frontend-fullbg .main#main {
  background: none !important;
}
.logo-img{
  height: 80px;
}

body.frontend #content{
  background-color: transparent;
}
#main-inner {
  max-width: 500px;
}
#intro_text {
  color: white;
}
.payment_options-group{
  display: none;
}

/** loading placeholder */
body:not(.special-page-finish) .crm-container>form>* {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
div.loading-placeholder-wrapper {
  transition: opacity .5s linear;
}
body:not(.special-page-finish) .crm-container>form>div.loading-placeholder-wrapper {
  opacity: 1;
}
.crm-container>form>div.placeholder-form {
  width: 100%;
}
.crm-container>form>div.placeholder-intro-text {
  width: 480px;
}
body .crm-container>form>div.loading-placeholder-wrapper {
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  height: 560px;
}
.special-page-finish .loading-placeholder-wrapper{
  opacity: 0;
}
.placeholder-item::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  -webkit-animation: placeholder-animation 0.8s linear infinite;
  animation: placeholder-animation 0.8s linear infinite;
}
.placeholder-intro-text .placeholder-item::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}
.placeholder-form .placeholder-item::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}
@-webkit-keyframes placeholder-animation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes placeholder-animation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
.placeholder-form .placeholder-row {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
#Main .placeholder-form .placeholder-row {
  margin-top: 44px;
}
.placeholder-item{
  height: 27px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.placeholder-form .placeholder-item{
  background-color: #d8d8d8;
}
.placeholder-intro-text .placeholder-item{
  background: #6d6d6d;
}
.placeholder-btn-row {
  display: flex;
  height: 80px;
  justify-content: space-between;
  border-radius: 10px;
}
.placeholder-btn-row>* {
  width: calc(50% - .5px);
  height: 80px;
}
.placeholder-btn-row>*:nth-child(1) {
  border-radius:10px 0 0 10px;
}
.placeholder-btn-row>*:nth-child(2) {
  border-radius:0 10px 10px 0;
}
.placeholder-row::before {
  position: absolute;
  top: -29px;
  font-size: 16px;
  color: #d8d8d8;
}
.placeholder-amount-item {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  height: 85px;
}
.placeholder-p-row>* {
  margin-bottom: 27px;
}

.placeholder-p-row>*:nth-child(1) {
  width: 40%;
}
.placeholder-p-row>*:nth-child(2) {
  width: 60%;
}
.placeholder-p-row>*:nth-child(3) {
  width: 80%;
}
.placeholder-p-row>*:nth-child(4) {
  width: 100%;
}
.placeholder-title-row>* {
  height: 50px;
  width: 240px;
}

.placeholder-title-row {
  margin-bottom: 25px;
}
.placeholder-amount {
  background-color: #d8d8d8;
  height: 36px;
  width: 62px;
  content: " ";
  left: 0;
  top: 28px;
}
.placeholder-label {
  background-color: #d8d8d8;
  height: 36px;
  width: 160px;
  content: " ";
  position: absolute;
  right: 0;
  top: 28px;
}
@media screen and (min-width: 1024px) {
  .crm-container>form>div.placeholder-intro-text {
    top: -20px;
    width: 480px;
    right: 510px;
    padding: 40px 20px;
  }
  body.frontend .main#main::before {
    position: absolute;
    content: " ";
    width: 480px;
    margin-top: 70px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity .5s linear;
    height: 590px;
  }
  body.frontend.special-page-finish .main#main::before {
    opacity: 0;
    z-index: -1;
  }
  body:not(.special-page-finish) #intro_text {
    opacity: 0;
  }
  body.special-page-finish #intro_text {
    transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
  }
}
@media screen and (max-width: 1023.9px) {
  body:not(.special-page-finish) #intro_text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .placeholder-intro-text {
    display: none;
  }
}


body .crm-container-md table.crm-custom-data-view, 
body .crm-container-md table.crm-custom-data-view.no-border{
  display: none;
}

.crm-submit-buttons{
  display: flex;
}

.crm-container>form{
  position: relative;
  margin: 0 auto;
}

.crm-custom-data-view {
  display: none;
}

#footer_text-wrapper, #content-header{
  display: none;
}


.contrib-step.type-is-back {
  position: absolute;
  z-index: -1;
  max-width: 0;
  overflow: hidden;
  
}
.contrib-step.type-is-front {
  z-index: unset;
  display: block;
  max-width: unset;
  overflow: unset;
}

.contrib-step.type-is-fade-out {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.contrib-step.type-is-fade-in {
  z-index: 1;
}

.payment_processor-section.need-credit-card{

}

#billing-payment-block.need-credit-card{

}

.error-msg-bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  cursor: pointer;
}
.error-msg {
    position: absolute;
    background: white;
    border-radius: 10px;
    z-index: 100;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 20px;
}
.error-msg-inner {
  overflow-y: hidden;
  margin-bottom: 20px;
  width: 100%;
}
.error-msg-inner:hover {
  overflow-y: scroll;
}

.custom-step-info{
  text-align: center;
  position: absolute;
  top: -30px;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  height: 30px;
  overflow: hidden;
  text-shadow: 0 0 6px #000000;
}
.step-triangle {
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body:not(.special-page-finish) #content-main{
    height: 550px;
  }
  #content-main {
    min-height: calc(100vh - 360px);
  }
  .frontend #content{
    background-color: transparent;
  }
  body.frontend #content-main, 
  body.frontend #content-header + #content-main {
    padding: 20px 35px;
    background: #fff;
    border-radius: 5px;
  }
  #main {
    position: relative;
  }
  #main-inner {
    z-index: 3;
    margin-right: 0;
    margin-top: 70px;
  }
  .frontend .main#main {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }
  #expenditure-ratio-box{
    width: 480px;
    margin-top: 50px;
    position: fixed;
  }
  #intro_text {
    width: 480px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 0;
    padding: 40px 20px;
    background-color: rgba(0,0,0,0.5);
  }

  .special-page-col-sticky #intro_text {
    position: sticky;
    top: 0;
  }
  .special-page-col-sticky #main-inner {
    position: sticky;
    top: 40px;
  }
  .special-page-col-sticky.special-page-left-col-higher #intro_text {
    padding-right: 12px;
  }
  .special-page-col-sticky.special-page-left-col-higher #intro_text .intro_text-inner {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding-right: 12px;

    /* custom scrollbar (firefox) */
    scrollbar-width: thin;
    scrollbar-color: #777 rgba(0,0,0,.5);
  }

  /* custom scrollbar (webkit: chrome, edge, safari) */
  .special-page-col-sticky.special-page-left-col-higher #intro_text .intro_text-inner::-webkit-scrollbar {
    width: 8px;
  }
  .special-page-col-sticky.special-page-left-col-higher #intro_text .intro_text-inner::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(0,0,0,.5);
  }
  .special-page-col-sticky.special-page-left-col-higher #intro_text .intro_text-inner::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #777;
  }

  body.frontend fieldset legend {
    background: none;
  }
  .region.region-footer>div {
    text-align:center;
  }
  .sharethis{
    left: unset !important;
    right: 10px;
  }


  .error-msg {
    padding: 50px;
    top: 50%;
    left: 50%;
    max-width: 70vw;
    max-height: 70vh;
    transform: translate(-50%, -50%);
  }
  .error-msg-inner {
      max-height: calc(70vh - 130px);
    }

  .menu{
    background: white;
    height: 50px;
    margin: 0;
    position: fixed;
    width: 100%;
  }
  .menu ul{
    width: 1024px;
    margin: 0 auto;
  }
  .menu ul li{
    list-style: none;
  }
  .menu ul li a{
    line-height: 50px;
    color: #9b9b9b;
  }

  #expenditure-ratio-box {
    display: none;
  }

}



@media screen and (max-width: 1023px) {
  #content-main {
    min-height: calc(100vh - 90px);
  }
  #intro_text h1{
    font-size: 48px;
  }
  #header-inner {
    display: flex;
  }
  #header-inner #logo {
    margin: 0;
  }
  #header-inner #logo + #name-and-slogan {
    margin-left: 10px;
  }
  #intro_text{
    max-width: 500px;
    margin: 60px 20px 120px;
  }
  #footer {
    text-align: center;
  }

  .error-msg {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    max-height: 100vh;
    padding: 15px;
  }
  .error-msg-inner {
    overflow-y: scroll;
    max-height: calc(100vh - 130px);
  }
  .menu{
    display: none;
  }
  body.frontend #content-header + #content-main{
    padding-bottom: 90px;
    margin-bottom: 40px;
  }
  #main {
    max-width: 480px;
    margin: 0 auto;
  }
  .custom-step-info{
    overflow: unset;
  }
}


@media screen and (max-width: 480px) {
  html body.frontend.section-civicrm {
    background: none;
  }
  html body.section-civicrm:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),var(--mobile-background-url);
  }
  #main #intro_text h1 {
    font-size: 36px;
  }
  .custom-step-info{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--color-crm-special-contribute-primary);
    left: 0;
    text-shadow: none;
  }
  #intro_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 30px 20px;
    margin: 0;
    min-height: 0;
  }
  .progress-block{
    order: 1;
  }
  .logo-block {
    order: 2;
    text-align: center;
  }
  .logo-img{
    width: 80%;
  }
  #expenditure-ratio-box {
    display: block !important;
  }
  .custom-step-info{
    overflow: hidden;
    z-index: 1;
  }
  body .crm-container-md .crm-form-select-single select,
  body .crm-container-md .crm-form-select-single select.form-select {
    z-index: unset;
  }
}



/**
 elements
 */

#printer-friendly {
  display: none;
}

.custom-block>label{
  color: var(--color-crm-special-contribute-primary);
  margin: 15px 0 5px;
}

body .crm-container .header-dark {
  display: block;
  position: relative;
  top: 0;
  margin-bottom: 20px;
  padding: 4px 0;
  width: auto;
  text-indent: 0;
  font-size: 1.25rem;
  color: #3E3E3E;
  border: none;
  background: white;
}
body .header-dark:before {
  content: " ";
  border-bottom: 1px solid #CFCEC3;
  width: 100%;
  height: 20px;
  position: absolute;
  display: block;
  bottom: 6px;
}
body .crm-container fieldset{
  margin-top: 0;
  border-top: none;
}


.custom-step-info{
  color: white;
}
.step-text{
  opacity: .9;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.step-text.active{
  opacity: 1;
  font-weight: bold;
  font-size: 16px;
}

.contrib-type-btn{
    width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 2px;
  height: 80px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.contrib-type-btn div {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  line-height: 80px;
  background: #d8d8d8;
  vertical-align: middle;
  font-size: 18px;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
  margin-left: 1px;
}
.contrib-type-btn div:hover{
  background: #666;
}
.contrib-type-btn div.selected {
  background-color: var(--color-crm-special-contribute-primary);
}

.price-set-btn div {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  padding: 28px 0 20px 0;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  position:relative;
  line-height: 2.6em;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.price-set-btn .amount{
  font-size: 36px;
  vertical-align: bottom;
}
.price-set-btn div.active, 
.price-set-btn div:hover,
.price-set-btn div.active span.description,
.price-set-btn div:hover span.description {
  color: var(--color-crm-special-contribute-primary);
}
.price-set-btn div.active, 
.price-set-btn div.active span.description{
  font-weight: 900;  
}

.price-set-btn div:before {
  content: "NTD";
  line-height: unset;
  position: absolute;
  top: 2px;
  font-weight: bold;
}
.price-set-btn div span.description {
  text-align: right;
  font-weight: normal;
  font-size: 40px;
  color: black;
  margin: 0 0 0 auto;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.price-set-btn div span.description.multitext {
  font-size: 18px;
  width: 180px;
  line-height: 1.2em;
} 
.crm-container .custom-input-block{
  margin: 18px 0;
}
.crm-container .custom-input-block label{
  font-size: 1rem;
  padding: 0 10px 0 0;
}
.crm-container .custom-input-block input.custom-input{
  font-size: 1rem;
  border-radius: 20px;
  height: 40px;
  background: #d8d8d8;
  border: none;
  font-weight: bold;
  padding: 0 15px;
  color: white;
  width: 150px;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.crm-container .custom-input-block input.active,
.crm-container .custom-input-block input.active:hover{
  background: var(--color-crm-special-contribute-primary);
}
.crm-container .custom-input-block input:hover {
  background: grey;
}
.crm-container .custom-input-block input::placeholder {
  color: white;
}

.last-step-btn, 
.crm-button-type-cancel a.button, 
.crm-button-type-upload a.button, 
#checkavailability {
  background-color: #717171;
  color: white;
  width: 120px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}

.contrib-step-2 .step-action-wrapper:last-child {
  display: flex;
  justify-content: space-between;
}
.crm-button-type-upload a.button,
.crm-button-type-upload a.button:hover,
.crm-button-type-upload a.button:active {
  background-color: var(--color-crm-special-contribute-primary);
}
#checkavailability {
  background-color: var(--color-crm-special-contribute-primary);
  float: right;
}
.region-content .last-step-btn:hover, 
.region-content .last-step-btn:active, 
.crm-button-type-cancel a.button:hover, 
.crm-button-type-cancel a.button:active, 
#checkavailability:hover, #checkavailability:active {
  background-color: grey;
  color: white;
  text-decoration: none;
}


 
.crm-container input.form-submit, 
.contrib-step-1 .crm-button-type-upload a
 {
  background-color: var(--color-crm-special-contribute-primary);
  color: white;
  display: block;
  width: 100%;
  height: 40px;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
  text-align: center;
  border-radius: 10px;

}
.contrib-step-1 .crm-button-type-upload a{
  line-height: 2.6em;
}


.crm-container input.form-submit:focus,
.crm-container input.form-submit:hover, 
.crm-container input.form-submit:active {
  background-color: white;
  color: var(--color-crm-special-contribute-primary);
  text-decoration: none;
  border: 1px solid var(--color-crm-special-contribute-primary);
}

/** intro text */
.intro_text-content {
  position: relative;
}
.intro_text-content.is-collapsed {
  max-height: 450px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}
.intro_text-content.is-expanded {
  max-height: none;
  -webkit-mask-image: none;
  mask-image: none;
}
button.intro_text-readmore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  padding: 10px 20px;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(255,255,255,.8);
  box-shadow: none;
}
button.intro_text-readmore-btn:after {
  content: '\f276';
  font-family: 'Material-Design-Iconic-Font';
  font-size: 20px;
  margin-left: 10px;
}
button.intro_text-readmore-btn.is-active:after {
  content: '\f271';
}
#main h1 {
  margin-bottom: .5em;
  color: var(--color-white, #fff);
  font-size: 44px;
  font-weight: bold;
}
#intro_text p{
  font-size: 16px;
}
#intro_text a {
  text-decoration: underline;
  color: var(--color-crm-special-contribute-info-link);
}
#intro_text a:hover {
  text-decoration: underline;
}
#intro_text #logo img{
  width: 362px;
  max-height: unset;
  max-width: unset;
}
#intro_text blockquote {
  color: #fff;
  border-left-color: var(--color-crm-special-contribute-primary);
}

@media screen and (min-width: 1024px) {
  .intro_text-content.is-collapsed,
  .intro_text-content.is-expanded {
    max-height: none;
    overflow: visible;
    -webkit-mask-image: none;
    mask-image: none;
  }
  button.intro_text-readmore-btn {
    display: none;
  }
}

/*price info*/

.price-selected-info{
  border: 3px solid var(--color-crm-special-contribute-primary);
  float: right;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
}
.info-is-recur {
  padding-left: 5px;
  padding-right: 5px;
  background: var(--color-crm-special-contribute-primary);
  color: white;
  text-align: center;
  height: 30px;
  font-size: 13px;
  float: left;
  line-height: 24px;
}
.info-price{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-align: center;

}


/* UI */
body .crm-container .crm-section>.label {
  float: none;
  text-align: left;
  width: unset;
  color: var(--color-crm-special-contribute-primary);
  font-size: 12px;
}
body .crm-container .crm-section>.content {
  margin-left: 0;
}
.crm-container .crm-form-textfield {
  display: block;
}

body .crm-container-md .crm-form-elem input[type="text"], 
body .crm-container-md .crm-form-elem input[type="number"], 
body .crm-container-md .crm-form-elem input.form-text, 
body .crm-container-md .crm-form-elem select, 
body .crm-container-md .crm-form-elem select.form-select, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]{
    border: 1px solid var(--color-form-input-border) !important;
    border-radius: 5px !important;
    height: 40px;
    padding: 0 10px;
}

body .crm-container-md .crm-form-elem input[type="text"]:hover, 
body .crm-container-md .crm-form-elem input[type="number"]:hover, 
body .crm-container-md .crm-form-elem input.form-text:hover, 
body .crm-container-md .crm-form-elem select:hover, 
body .crm-container-md .crm-form-elem select.form-select:hover, 
body .crm-container-md .crm-form-elem textarea:hover, 
body .crm-container-md .crm-form-elem textarea.form-textarea:hover, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin:hover, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]:hover
body .crm-container-md .crm-form-elem input[type="text"]:focus, 
body .crm-container-md .crm-form-elem input[type="number"]:focus, 
body .crm-container-md .crm-form-elem input.form-text:focus, 
body .crm-container-md .crm-form-elem select:focus, 
body .crm-container-md .crm-form-elem select.form-select:focus, 
body .crm-container-md .crm-form-elem textarea:focus, 
body .crm-container-md .crm-form-elem textarea.form-textarea:focus, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin:focus, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]:focus{
  border: 1px solid var(--color-crm-special-contribute-primary) !important;
  border-radius: 5px !important;
}

body .crm-container-md .crm-form-elem input[disabled],
body .crm-container-md .crm-form-elem select[disabled],
body .crm-container-md .crm-form-elem textarea[disabled],
body .crm-container-md .crm-form-elem input[readonly],
body .crm-container-md .crm-form-elem select[readonly],
body .crm-container-md .crm-form-elem textarea[readonly],
body .crm-container-md .crm-form-elem input.readonly,
body .crm-container-md .crm-form-elem select.readonly,
body .crm-container-md .crm-form-elem textarea.readonly,
body .crm-container-md .crm-form-elem input[disabled],
body .crm-container-md .crm-form-elem select[disabled],
body .crm-container-md .crm-form-elem textarea[disabled],
body .crm-container-md .crm-form-elem input[readonly],
body .crm-container-md .crm-form-elem select[readonly],
body .crm-container-md .crm-form-elem textarea[readonly],
body .crm-container-md .crm-form-elem input[disabled]:focus,
body .crm-container-md .crm-form-elem select[disabled]:focus,
body .crm-container-md .crm-form-elem textarea[disabled]:focus,
body .crm-container-md .crm-form-elem input[readonly]:focus,
body .crm-container-md .crm-form-elem select[readonly]:focus,
body .crm-container-md .crm-form-elem textarea[readonly]:focus,
body .crm-container-md .crm-form-elem .readonly,
body .crm-container-md .crm-form-elem input[type="text"].readonly,
body .crm-container-md .crm-form-elem input[type="text"].readonly:hover,
body .crm-container-md .crm-form-elem input[type="number"].readonly,
body .crm-container-md .crm-form-elem input[type="number"].readonly:hover,
body .crm-container-md .crm-form-elem input[type="file"].readonly {
  border: 1px dashed var(--color-form-input-border) !important;
}

body .crm-container-md .crm-form-elem input[type="text"].error,
body .crm-container-md .crm-form-elem input[type="number"].error,
body .crm-container-md .crm-form-elem input.form-text.error,
body .crm-container-md .crm-form-elem input.form-number.error,
body .crm-container-md .crm-form-elem select.error,
body .crm-container-md .crm-form-elem select.form-select.error,
body .crm-container-md .crm-form-elem textarea.error,
body .crm-container-md .crm-form-elem textarea.form-textarea.error {
  border: 1px solid var(--color-error) !important;
}


/* UI style*/
.civicrm-instrument-dummy {
  width: 100%;
  margin-right: 8px;
}
body .crm-container-md .crm-form-elem textarea, 
body .crm-container-md .crm-form-elem textarea.form-textarea{
  width: 100%;
}

.custom-receipt-row{
  margin-bottom: 10px;
}
.custom-receipt-row>*{
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
}
.custom-receipt-row-label {
  text-align: center;
  line-height: 20px;
  border-right: 1px solid var(--color-crm-special-contribute-primary);
  margin: 10px;
  color: var(--color-crm-special-contribute-primary);
}

.crm-container.crm-container-md .custom_80-section tr:empty{
  display: none;
}

.crm-container .crm-section.receipt_type{
  margin-bottom: 25px;
}

.last_name-section, .first_name-section {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.last_name-section {
  margin-right: 2%;
}
body .crm-container-md div[class*="crm-section state_province-"] .content{
  display: flex;
}
body .crm-container-md div[class*="crm-section state_province-"] .crm-form-elem{
  margin-right: 7px;
}
body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single .form-select,
body .crm-container-md div[class*="crm-section state_province-"] [name*="city-"] {
  width: 9rem; 
}
body .crm-container-md div[class*="crm-section state_province-"] input[name*="postal_code-"] {
  width: 7rem;
  /* overwrite civicrm.css */
  max-width: 7rem;
}
.crm-section.state_province-1-section .content .crm-form-textfield {
  display: inline-block;
  margin-right: 0;
}
.crm-form-post-code {
  width: 7rem;
}

.crm-container.crm-container-md tr {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}

form#Confirm #help {
  display: none;
}

.crm-submit-buttons .crm-button {
  width: 100%;
  margin: 0 5px;
}

.custom-confirm-exclamation{
  padding: 0 0 20px 0;
  line-height: 64px;
  font-size: 64px;
  display: inline-block;
  font-weight: bolder;
}
.custom-confirm-msg {
  display: inline-block;
  font-size: 20px;
  padding-top: 4px;
  font-weight: bolder;
}
.custom-confirm-info{
  margin: 0 0 20px 0;
}

.crm-container #Confirm .freeze-unchecked {
  display: none;
}

/** frequency unit */
#recur-options-interval {
  margin-left: 0;
}



/** message text */ 
.crm-container div.messages.help {
    background: none;
    color: black;
    padding: 0 !important;
}
.crm-container div.messages.help:before {
  content: unset;
}

/** override */

body .crm-container div.display-block {
  margin: 0;
}

#pcp_personal_note {
  width: 100% !important;
}
.crm-container .pcp-section .display_in_roll-section label {
  font-size: 1.25rem;
}
.page-civicrm-contribute .description a,
.page-civicrm-contribute .description a:hover {
  color: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container .progress-bar {
  background: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container .progress-amount-raised span,
.page-civicrm-contribute .crm-container .progress-amount-goal span {
  color: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container-md .crm-form-radio .form-radio:checked + .elem-label,
.page-civicrm-contribute .crm-container-md .crm-form-checkbox .form-checkbox:checked + .elem-label {
  color: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container-md .crm-form-radio .form-radio:checked + .elem-label::after,
.page-civicrm-contribute .crm-container-md .crm-form-checkbox .form-checkbox:checked + .elem-label::after {
  border-color: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container-md .crm-form-checkbox .elem-label::before {
  border-color: var(--color-crm-special-contribute-primary);
}
.page-civicrm-contribute .crm-container-md .crm-form-radio .elem-label::before {
  background-color: var(--color-crm-special-contribute-primary);
}

/** taiwan province */ 
@media screen and (max-width: 768px) {
  body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single .form-select {
    width: 100%;
  }
  body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single {
    margin-bottom: 0;
  }
}

#backtotop {
  display: none !important;
}

.crm-container div.progress-cell.progress-bar-wrapper{
  width: 100%;
}
.progress-button{
  display: none;
}


/** Other instrument*/

.instrument-info-panel h3 {
  padding: 6px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.crm-container .instrument-info-panel h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  background: #d8d8d8;
}
.instrument-info-panel h3:hover, 
.instrument-info-panel h3.open{
  background: var(--color-crm-special-contribute-primary);
  color: white;
}
.instrument-info-panel h3+p {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  background: #d8d8d8;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.instrument-info-panel h3+p a,
.instrument-info-panel h3+p a.hover{
  color: var(--color-crm-special-contribute-primary);
}
.instrument-info-panel h3.open+p{
  max-height: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
} 
.instrument-info-panel .paypal form{
  text-align: center;
}

/* Premium */
.premiums-listings td:first-child{
  max-width: 6%;
}

body .crm-container .premiums-listings .premium-img + .premium-info{
  max-width: 58%;
  padding: 10px 0 10px 10px;
}

body .crm-container .premiums-listings .premium-img{
  max-width: 30%;
}

/* Premium - end */

.same-as-wrapper{
  line-height: 2em;
}

#expenditure-ratio-box{
  color: white;
}

/* login form */
.crm_user_signup-section .content {
  display: flex;
  flex-wrap: wrap;
}

#checkavailability {
  line-height: 40px;
  height: 40px;
  margin-left: 10px;
}
.crm-container .crm_user_signup-section .description {
  font-size: .85rem;
}

/* overwrite */
.admin-sidebar-mini div#page,
.admin-sidebar-open div#page,
.admin-header-fixed div#page{
  padding: 0;
}
body.admin-sidebar-mini .neticrm-footer {
  margin: 0;
}
.crm-container .messages.crm-error {
  position: initial;
}
body .crm-container-md .last_name-section .crm-form-readonly,
body .crm-container-md .first_name-section .crm-form-readonly {
  display: block;
}
body #crm-container.crm-container-md .crm-form-elem::after {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 8px 0 0;
}

/* for login user */
#admin-header, #admin-sidebar, .simplemenu-block {
  display: none;
}
body.admin-sidebar-open .neticrm-footer {
  margin: 0;
}
@media screen and (max-width: 960px) {
  #civicrm-menu, #admin-header, #admin-menu {
    display: none;
  }
  body.is-neticrm-admin .neticrm-footer, 
  body.is-civicrm-user .neticrm-footer {
    width: auto
  }
  body.is-neticrm-admin #page, 
  body.is-civicrm-user #page, 
  body.civicrm-menu-enabled #page, 
  body.admin-menu #page {
    width: auto;
  }
  body.is-neticrm-admin .limiter, 
  body.is-civicrm-user .limiter, 
  body.civicrm-menu-enabled .limiter, 
  body.admin-menu .limiter, 
  body.is-neticrm-admin.frontend .limiter, 
  body.is-civicrm-user.frontend .limiter, 
  body.civicrm-menu-enabled.frontend .limiter, 
  body.admin-menu.frontend .limiter {
    width: auto;
  }
  body.civicrm-menu-enabled.is-civicrm-user {
    margin-top: 0 !important;
  }
}