/**
 Structure
 */
body *,div, span, a, p, h1, h2, h3, h4, h5,body input{
  font-family: 'SourceHanSans','PingFang TC','Heiti TC','Microsoft JhengHei',San-serif;
}
body.logged-in .admin-header, 
body.logged-in #admin-sidebar{
  display: none;
}

body #page{
  background: none;
}
.frontend.frontend-fullbg .main#main {
  background: none !important;
  opacity: 0;
  -webkit-transition: opacity linear .5s;
       -o-transition: opacity linear .5s;
          transition: opacity linear .5s;
}
.logo-img{
  height: 80px;
}

body.frontend #content{
  background-color: transparent;
}
#main-inner {
  max-width: 500px;
  opacity: 0;
}
#intro_text {
  color: white;
}
.payment_options-group{
  display: none;
}

body .crm-container-md table.crm-custom-data-view, 
body .crm-container-md table.crm-custom-data-view.no-border{
  display: none;
}

.crm-submit-buttons{
  display: flex;
}

.crm-container>form{
  position: relative;
  margin: 0 auto;
}

.crm-custom-data-view {
  display: none;
}

#footer_text-wrapper, #content-header{
  display: none;
}


.contrib-step.type-is-back {
  position: absolute;
  z-index: -1;
  max-width: 0;
  overflow: hidden;
  
}
.contrib-step.type-is-front {
  z-index: unset;
  display: block;
  max-width: unset;
  overflow: unset;
  
  
}

.contrib-step.type-is-fade-out {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.contrib-step.type-is-fade-in {
  z-index: 1;
}

.payment_processor-section.need-credit-card{

}

#billing-payment-block.need-credit-card{

}

.error-msg-bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  cursor: pointer;
}
.error-msg {
    position: absolute;
    background: white;
    padding: 50px;
    border-radius: 10px;
    z-index: 100;
    cursor: default;

}

.custom-step-info{
  position: absolute;
  top: -30px;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  height: 30px;
  overflow: hidden;
}
.step-triangle {
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  #page {
    overflow: hidden;
  }
  .frontend #content{
    background-color: transparent;
  }
  body.frontend #content-main, 
  body.frontend #content-header + #content-main {
    padding: 20px 35px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  #main-inner {
    z-index: 3;
    margin-right: 0;
    margin-top: 70px;
  }
  .frontend .main#main {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
  }
  #expenditure-ratio-box{
    width: 480px;
    margin-top: 50px;
    position: fixed;
  }
  #intro_text {
    width: 480px;
    height: auto;
    margin-top: 70px;
    margin-bottom: 0;
    padding: 40px 20px;
    background-color: rgba(0,0,0,0.5);
  }
  body.frontend fieldset legend {
    background: none;
  }
  .region.region-footer>div {
    text-align:center;
  }
  .sharethis{
    left: unset !important;
    right: 10px;
  }


  .error-msg {
    top: 30%;
    left: 30%;
    right: 30%;
  }

  .menu{
    background: white;
    height: 50px;
    margin: 0;
    position: fixed;
    width: 100%;
  }
  .menu ul{
    width: 1024px;
    margin: 0 auto;
  }
  .menu ul li{
    list-style: none;
  }
  .menu ul li a{
    line-height: 50px;
    color: #9b9b9b;
  }

  #expenditure-ratio-box {
    display: none;
  }

}

@media screen and (max-width: 1023px) {
  #header{
    display: none;
  }
  #intro_text{
    max-width: 500px;
    margin: 60px 20px 120px;
  }
  #footer {
    text-align: center;
  }

  .error-msg {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
  }
  .menu{
    display: none;
  }
  body.frontend #content-header + #content-main{
    padding-bottom: 90px;
    margin-bottom: 40px;
  }
  #main {
    max-width: 480px;
    margin: 0 auto;
  }
  .custom-step-info{
    overflow: unset;
  }

}


@media screen and (max-width: 480px) {
  body.frontend.page-civicrm-contribute-transact {
    background-size: unset;
    background-position: unset;
    background: unset;
  }
  .custom-step-info{
    position: fixed;
    top: 0;
    background-color: var(--active-color);
    left: 0;
  }
  #intro_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 60px 20px 120px;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: var(--mobile-background-url);
  }
  .progress-block{
    order: 1;
  }
  .logo-block {
    order: 2;
    text-align: center;

  }
  .logo-img{
    width: 80%;
  }
  #expenditure-ratio-box {
    display: block !important;
  }
  .custom-step-info{
    overflow: hidden;
    z-index: 1;
  }
  .custom-step-info :first-child{
    margin-left: 50vw;
  }
  .custom-step-info :last-child{
    margin-right: 50vw;
  }
}



/**
 elements
 */


body {
  --active-color: #3f51b5;
  --marked-color: #9f0909;
}



#printer-friendly {
  display: none;
}

.custom-block>label{
  color: var(--active-color);
  margin: 15px 0 5px;
}

body .crm-container .header-dark {
  display: inline-block;
  position: relative;
  top: 0;
  margin-bottom: 20px;
  padding: 4px 0;
  width: auto;
  text-indent: 0;
  font-size: 1.25rem;
  color: #3E3E3E;
  border: none;
  background: white;
}
body .header-dark:before {
  content: " ";
  border-bottom: 1px solid #CFCEC3;
  width: 300px;
  height: 20px;
  position: absolute;
  display: block;
  bottom: 6px;
}
body .crm-container fieldset{
  margin-top: 0;
  border-top: none;
}


.custom-step-info{
  color: white;
}
.step-text{
  opacity: .9;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.step-text.active{
  opacity: 1;
  font-weight: bold;
  font-size: 16px;
}

.contrib-type-btn{
    width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 2px;
  height: 80px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.contrib-type-btn div {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  line-height: 80px;
  background: #d8d8d8;
  vertical-align: middle;
  font-size: 18px;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
  margin-left: 1px;
}
.contrib-type-btn div:hover{
  background: #666;
}
.contrib-type-btn div.selected {
  background-color: var(--active-color);
}

.price-set-btn div {
  font-size: 14px;
  font-weight: normal;
  padding: 28px 0 20px 0;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  position:relative;
  line-height: 2.6em;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.price-set-btn .amount{
  font-size: 36px;
  vertical-align: bottom;
}
.price-set-btn div.active, 
.price-set-btn div:hover,
.price-set-btn div.active span.description,
.price-set-btn div:hover span.description {
  color: var(--active-color);
}
.price-set-btn div.active, 
.price-set-btn div.active span.description{
  font-weight: 900;  
}

.price-set-btn div:before {
  content: "NTD";
  line-height: unset;
  position: absolute;
  top: 2px;
  font-weight: bold;
}
.price-set-btn div span.description {
  text-align: right;
  font-weight: normal;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 20px;
  color: black;
  margin: 0;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.price-set-btn div span.description.multitext {
  font-size: 18px;
  width: 180px;
  line-height: 1.2em;
} 
.crm-container .custom-input-block{
  height: 76px;
  line-height: 76px;
}
.crm-container .custom-input-block label{
  font-size: 1rem;
  padding: 0 10px 0 0;
}
.crm-container .custom-input-block input.custom-input{
  font-size: 1rem;
  border-radius: 20px;
  height: 40px;
  background: #d8d8d8;
  border: none;
  font-weight: bold;
  padding: 0 15px;
  color: white;
  width: 150px;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.custom-input-block input.active,
.custom-input-block input.active:hover{
  background: var(--active-color);
}
.custom-input-block input:hover {
  background: grey;
}
.custom-input-block input::placeholder {
  color: white;
}
#custom-other-amount+a{
  height: 30px;
  width: 30px;
  background: var(--active-color);
  border-radius: 50%;
  display: none;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
}
#custom-other-amount+a>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.last-step-btn, 
.crm-button-type-cancel a.button, 
.crm-button-type-upload a.button{
  background-color: #d8d8d8;
  color: white;
  width: 120px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.crm-button-type-upload a.button{
  background-color: var(--active-color);
  float: right;
}
.region-content .last-step-btn:hover, 
.region-content .last-step-btn:active, 
.crm-button-type-cancel a.button:hover, 
.crm-button-type-cancel a.button:active{
  background-color: grey;
  color: white;
  text-decoration: none;
}


 
.crm-container input.form-submit, 
.contrib-step-1 .crm-button-type-upload a
 {
  background-color: var(--active-color);
  color: white;
  display: block;
  width: 100%;
  height: 40px;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
  text-align: center;
  border-radius: 10px;

}
.contrib-step-1 .crm-button-type-upload a{
  line-height: 2.6em;
}


.crm-container input.form-submit:focus,
.crm-container input.form-submit:hover, 
.crm-container input.form-submit:active {
  background-color: white;
  color: var(--active-color);
  text-decoration: none;
  border: 1px solid var(--active-color);
}

/** intro text */ 
#main h1{
  color: #FFFFFF;
  font-size: 72px;
  font-family:  "Open Sans","Helvetica Neue",Helvetica,Arial,"微軟正黑體","Microsoft JhengHei",sans-serif;
  font-weight: bold;
}
#intro_text p{
  font-size: 16px;
}
#intro_text p br{
  display: none;
}
#intro_text #logo img{
  width: 362px;
  max-height: unset;
  max-width: unset;
}
@media screen and (max-width: 1023px) {
  #intro_text h1{
    font-size: 48px;
  }
  #intro_text p br{
    display: inline;
  }  
}




/*price info*/

.price-selected-info{
  border: 3px solid var(--active-color);
  float: right;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
}
.info-is-recur {
  padding-left: 5px;
  padding-right: 5px;
  background: var(--active-color);
  color: white;
  text-align: center;
  height: 30px;
  font-size: 13px;
  float: left;
  line-height: 24px;
}
.info-price{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-align: center;

}


/* UI */
body .crm-container .crm-section>.label {
  float: none;
  text-align: left;
  width: unset;
  color: var(--active-color);
  font-size: 12px;
}
body .crm-container .crm-section>.content {
  margin-left: 0;
}
.crm-container .crm-form-textfield {
  display: block;
}

body .crm-container-md .crm-form-elem input[type="text"], 
body .crm-container-md .crm-form-elem input[type="number"], 
body .crm-container-md .crm-form-elem input.form-text, 
body .crm-container-md .crm-form-elem select, 
body .crm-container-md .crm-form-elem select.form-select, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]{
    border: 1px solid var(--active-color) !important;
    border-radius: 5px !important;
    height: 40px;
    padding: 0 10px;
}

body .crm-container-md .crm-form-elem input[type="text"]:hover, 
body .crm-container-md .crm-form-elem input[type="number"]:hover, 
body .crm-container-md .crm-form-elem input.form-text:hover, 
body .crm-container-md .crm-form-elem select:hover, 
body .crm-container-md .crm-form-elem select.form-select:hover, 
body .crm-container-md .crm-form-elem textarea:hover, 
body .crm-container-md .crm-form-elem textarea.form-textarea:hover, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin:hover, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]:hover
body .crm-container-md .crm-form-elem input[type="text"]:focus, 
body .crm-container-md .crm-form-elem input[type="number"]:focus, 
body .crm-container-md .crm-form-elem input.form-text:focus, 
body .crm-container-md .crm-form-elem select:focus, 
body .crm-container-md .crm-form-elem select.form-select:focus, 
body .crm-container-md .crm-form-elem textarea:focus, 
body .crm-container-md .crm-form-elem textarea.form-textarea:focus, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin:focus, 
body .crm-container-md .crm-form-elem.dateplugin input.dateplugin[readonly]:focus{
  border: 1px solid #d8d8d8 !important;
  border-radius: 5px !important;
}


/* UI style*/
.instrument-section .content {
  display: flex;
}
.civicrm-instrument-dummy {
  width: 100%;
  margin-right: 8px;
}
.crm-container-md .crm-form-elem textarea, 
.crm-container-md .crm-form-elem textarea.form-textarea{
  width: 100%;
}

.custom-receipt-row{
  margin-bottom: 10px;
}
.custom-receipt-row>*{
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
}
.custom-receipt-row-label {
  text-align: center;
  line-height: 20px;
  border-right: 1px solid var(--active-color);
  margin: 10px;
  color: var(--active-color);
}

.crm-container.crm-container-md .custom_80-section tr:empty{
  display: none;
}

.receipt_type{
  overflow: unset !important;
}
.crm-container .crm-section.receipt_type{
  margin-bottom: 25px;
}

.last_name-section, .first_name-section {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.last_name-section {
  margin-right: 2%;
}
body .crm-container-md div[class*="crm-section state_province-"] .content{
  display: flex;
}
body .crm-container-md div[class*="crm-section state_province-"] .crm-form-elem{
  margin-right: 7px;
}
body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single .form-select{
  width: 7rem; 
}
.crm-section.state_province-1-section .content .crm-form-textfield {
  display: inline-block;
  margin-right: 0;
}
.crm-form-post-code {
  width: 60px;
}

.crm-container.crm-container-md tr {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}

form#Confirm #help, 
form#ThankYou #help{
  display: none;
}


.crm-submit-buttons .crm-button {
  width: 100%;
  margin: 0 5px;
}

.custom-confirm-exclamation{
  padding: 0 0 20px 0;
  line-height: 64px;
  font-size: 64px;
  display: inline-block;
  font-weight: bolder;
}
.custom-confirm-msg {
  display: inline-block;
  font-size: 20px;
  padding-top: 4px;
  font-weight: bolder;
}
.custom-confirm-info{
  margin: 0 0 20px 0;
}

.crm-container #Confirm .freeze-unchecked {
  display: none;
}



/** message text */ 
.crm-container div.messages.help {
    background: none;
    color: black;
    padding: 0 !important;
}
.crm-container div.messages.help:before {
  content: unset;
}

/** override */

body .crm-container div.display-block {
  margin: 0;
}


/** taiwan province */ 
@media screen and (max-width: 768px) {
  body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single .form-select {
    width: 100%;
  }
  body .crm-container-md div[class*="crm-section state_province-"] .crm-form-select-single {
    margin-bottom: 0;
  }
}

#backtotop {
  display: none !important;
}

.crm-container div.progress-cell.progress-bar-wrapper{
  width: 100%;
}
.progress-button{
  display: none;
}

/*
.progress-block{
  margin: 2em 0;
}
.progress-wrapper ,
.progress-bar{
  display: block;
  border-radius: 15px;
  height: 30px;
  font-size: 18px;
}
.progress-wrapper {
  width: 100%;
  background: white;
  height: 30px;
  overflow: hidden;
}
.progress-former-text {
  text-align: left;
}
.progress-text{
  text-align: right;
}
.progress-bar{
  background: var(--active-color);
  color: white;
  text-align: center;
}
*/

/** Other instrument*/

.instrument-info-panel h3 {
  padding: 6px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.crm-container .instrument-info-panel h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  background: #d8d8d8;
}
.instrument-info-panel h3:hover, 
.instrument-info-panel h3.open{
  background: var(--active-color);
  color: white;
}
.instrument-info-panel h3+p {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  background: #d8d8d8;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
.instrument-info-panel h3+p a,
.instrument-info-panel h3+p a.hover{
  color: var(--active-color);;
}
.instrument-info-panel h3.open+p{
  max-height: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
} 
.instrument-info-panel .paypal form{
  text-align: center;
}

.same-as-wrapper{
  line-height: 2em;
}

#expenditure-ratio-box{
  color: white;
}
