[submodule "drupal"]
	path = drupal
	url = git@github.com:NETivism/netiCRM-drupal.git
	branch = 6.x-master
[submodule "neticrm"]
	path = neticrm
	url = git@github.com:NETivism/netiCRM-neticrm.git
	branch = 6.x-master
