*.tar.gz
*.swp
*.rej
*.orig
.svn*
vendor
*.DS_Store
.vscode
.php-cs-fixer.cache
tests/casperjs/picture
**/node_modules
.php-cs-fixer.cache
/tests/playwright/tests/files/sites.csv
/tests/playwright/tests/files/check_site_result.txt