/* md-elem */
.md-elem {
  position: relative;
}
.md-elem button,
.md-elem input,
.md-elem textarea,
.md-elem select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.md-elem select::-ms-expand {
  display: none;
}
.md-elem input[type="file"],
.md-elem input[type="text"],
.md-elem input.form-text,
.md-elem select,
.md-elem select.form-select,
.md-elem textarea,
.md-elem textarea.form-textarea {
  display: block;
  margin: 0;
  padding: 5px 0;
  font-size: 1rem;
  color: #424242;
  line-height: 1.5;
  outline: 0;
  border: none !important;
  border-bottom: 2px solid #9E9E9E !important;
  border-radius: 0 !important;
  background: none !important;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.md-elem input[type="text"],
.md-elem input.form-text,
.md-elem select,
.md-elem select.form-select {
  width: 16rem;
}
.md-elem textarea,
.md-elem textarea.form-textarea {
  width: 40rem;
}
.md-elem input[type="text"].error,
.md-elem input.form-text.error,
.md-elem select.error,
.md-elem select.form-select.error,
.md-elem textarea.error,
.md-elem textarea.form-textarea.error {
  border-bottom: 2px solid #F44336 !important;
}
.md-elem input[type="text"]:hover,
.md-elem input.form-text:hover,
.md-elem select:hover,
.md-elem select.form-select:hover,
.md-elem textarea:hover,
.md-elem textarea.form-textarea:hover,
.md-elem input[type="text"]:focus,
.md-elem input.form-text:focus,
.md-elem select:focus,
.md-elem select.form-select:focus,
.md-elem textarea:focus,
.md-elem textarea.form-textarea:focus {
  outline: 0 !important;
  color: #000;
  border: none !important;
  box-shadow: none !important;
}
.md-elem input[type="text"].readonly:hover,
.md-elem select.readonly:hover,
.md-elem textarea.readonly:hover {
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.md-elem input[type="text"]:hover,
.md-elem input.form-text:hover,
.md-elem select:hover,
.md-elem select.form-select:hover,
.md-elem textarea:hover,
.md-elem textarea.form-textarea:hover {
  border-bottom: 2px solid #9E9E9E !important;
}
.md-elem input[type="text"]:focus,
.md-elem input.form-text:focus,
.md-elem select:focus,
.md-elem select.form-select:focus,
.md-elem textarea:focus,
.md-elem textarea.form-textarea:focus {
  border-bottom: 2px solid #3F51B5 !important;
}
.md-elem input[type="text"].error:focus,
.md-elem input.form-text.error:focus,
.md-elem select.error:focus,
.md-elem select.form-select.error:focus,
.md-elem textarea.error:focus,
.md-elem textarea.form-textarea.error:focus {
  border-bottom: 2px solid #3F51B5 !important;
}
.md-elem .resizable-textarea .grippie,
textarea.md-textarea + .grippie {
  display: none;
}
.md-elem input[disabled],
.md-elem select[disabled],
.md-elem textarea[disabled],
.md-elem input[readonly],
.md-elem select[readonly],
.md-elem textarea[readonly],
.md-elem input.readonly,
.md-elem select.readonly,
.md-elem textarea.readonly,
.crm-container .md-elem input[disabled],
.crm-container .md-elem select[disabled],
.crm-container .md-elem textarea[disabled],
.crm-container .md-elem input[readonly],
.crm-container .md-elem select[readonly],
.crm-container .md-elem textarea[readonly],
.crm-container .md-elem input[disabled]:focus,
.crm-container .md-elem select[disabled]:focus,
.crm-container .md-elem textarea[disabled]:focus,
.crm-container .md-elem input[readonly]:focus,
.crm-container .md-elem select[readonly]:focus,
.crm-container .md-elem textarea[readonly]:focus,
.crm-container .md-elem .readonly,
.crm-container .md-elem input[type="text"].readonly,
.crm-container .md-elem input[type="file"].readonly {
  cursor: not-allowed;
  color: #9E9E9E;
  border: none !important;
  outline: 0 !important;
  border-bottom: 1px dashed #999 !important;
  background-color: #f2f2f2 !important;
  box-shadow: none;
}
.md-elem input[disabled]:hover,
.md-elem select[disabled]:hover,
.md-elem textarea[disabled]:hover,
.md-elem input[readonly]:hover,
.md-elem select[readonly]:hover,
.md-elem textarea[readonly]:hover,
.md-elem input.readonly:hover,
.md-elem select.readonly:hover,
.md-elem textarea.readonly:hover,
.md-elem option:disabled,
.md-elem select[disabled] > option {
  color: #9E9E9E;
}
.md-elem input[disabled]:focus,
.md-elem select[disabled]:focus,
.md-elem textarea[disabled]:focus,
.md-elem input[readonly]:focus,
.md-elem select[readonly]:focus,
.md-elem textarea[readonly]:focus,
.md-elem input.readonly:focus,
.md-elem select.readonly:focus,
.md-elem textarea.readonly:focus
{
  border-bottom: 1px dashed #999 !important;
  box-shadow: none;
}
.md-elem select[disabled] > option:hover {
  cursor: not-allowed;
  color: #9E9E9E;
  background-color: transparent;
}
.crm-container .md-elem + .description {
  margin: .5rem 0;
}
.md-select-multiple-adv + .crm-error,
.md-textarea + .crm-error {
  display: block;
}

.md-elem ::-webkit-input-placeholder,
.crm-container .md-elem ::-webkit-input-placeholder {
   color: #bdbdbd;
}
/* Firefox 18- */
.md-elem :-moz-placeholder,
.crm-container .md-elem :-moz-placeholder {
   color: #bdbdbd;
   opacity: 1;
}
/* Firefox 19+ */
.md-elem ::-moz-placeholder,
.crm-container .md-elem ::-moz-placeholder {
   color: #bdbdbd;
   opacity: 1;
}
.md-elem :-ms-input-placeholder,
.crm-container .md-elem :-ms-input-placeholder {
   color: #bdbdbd;
}

/* md-textfield */
input.md-textfield,
.md-textfield input[type="text"]
{
  /*margin: 0 0 10px 0;*/
}

/* md file */
.md-file input[type="file"] {
  padding: 6px;
  width: auto;
  font-size: .875rem;
  color: #424242;
  border: 2px solid #9E9E9E !important;
}
.md-file input[type="file"].error {
  border: 2px solid #F44336 !important;
  outline: 0;
}
.md-file input[type="file"]:focus,
.md-file input[type="file"].error:focus {
  border: 2px solid #3F51B5 !important;
  outline: 0;
}
.md-file input[type="file"][disabled],
.md-file input[type="file"][readonly],
.md-file input[type="file"].readonly {
  color: #9E9E9E;
}

/* md-select */
.md-select select {
  padding: 6px 12px;
}
.md-select select:focus {
  /*outline: none;*/
}
.md-select-single {
  display: inline-block;
}
.md-select-single::after {
  content: "\025BE";
  position: absolute;
  display: block;
  top: 2px;
  right: 0;
  font-weight: bold;
  font-size: 1.75rem;
  color: #666;
  z-index: 11;
  line-height: 1;
}
.md-select-single.md-elem-focus::after {
  color: #3F51B5;
}
.md-select-single select,
.md-select-single select.form-select {
  position: relative;
  z-index: 10;
  padding-right: 24px;

}
.md-select-multiple select > option:hover,
.md-select-multiple select > option:active,
.md-select-multiple select > option:focus
{
  cursor: pointer;
  color: #fff;
  background-color: #3F51B5;
}
.md-select-multiple-adv,
.crm-container table.md-select-multiple-adv {
  border: 2px solid #9E9E9E !important;
}

/* md radio & checkbox */
.md-radio,
.md-checkbox,
.form-item .md-radio,
.form-item .md-checkbox {
  position: relative;
  margin-right: 8px;
  padding-left: 15px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
}
.md-radio-input,
.md-checkbox-input {
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.md-radio-label,
.md-checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  vertical-align: middle;
  color: #424242;
  cursor: pointer;
  user-select: none;
}
.md-radio-label::after,
.md-checkbox-label::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 0;
  top: 1px;
  margin-left: -14px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #9e9e9e;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-sizing: content-box;
  background-clip: padding-box;
}
.md-radio-label::before,
.md-checkbox-label::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 4px;
  top: 5px;
  left: 7px;
  z-index: 1;
  opacity: 0;
  margin-left: -18px;
  border: 3px solid #3F51B5;
  border-top: none;
  border-right: none;
  background: transparent;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  box-sizing: content-box;
}
.md-radio-label:active::before
.md-checkbox-label:active::before {
  opacity: 0.3;
}
.md-radio-input:checked + .md-radio-label,
.md-checkbox-input:checked + .md-checkbox-label {
  color: #3F51B5;
}
.md-radio-input:checked + .md-radio-label::after,
.md-checkbox-input:checked + .md-checkbox-label::after {
  border: 2px solid #3F51B5;
}
.md-radio-input:checked + .md-radio-label::before,
.md-checkbox-input:checked + .md-checkbox-label::before {
  opacity: 1;
}
.md-radio-input:disabled,
.md-checkbox-input:disabled {
  cursor: not-allowed;
}
.md-radio-input:disabled + .md-radio-label,
.md-checkbox-input:disabled + .md-checkbox-label {
  cursor: not-allowed;
  color: #9e9e9e;
}
.md-radio-input:disabled + .md-radio-label::after,
.md-checkbox-input:disabled + .md-checkbox-label::after {
  cursor: not-allowed;
  border: 2px solid #bdbdbd;
  background-color: #fff;
}
.md-radio-input:disabled + .md-radio-label::before,
.md-checkbox-input:disabled + .md-checkbox-label::before {
  display: none;
}
.md-radio-input:disabled:checked + .md-radio-label::before,
.md-checkbox-input:disabled:checked + .md-checkbox-label::before {
  display: block;
  opacity: .3;
}
.md-radio-label::after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}
.md-radio-label::before {
  top: 5px;
  left: 8px;
  width: 10px;
  height: 10px;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #3F51B5;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* md-elem readonly */
.md-elem-readonly,
.crm-form-readonly {
  display: inline-block;
}
.md-elem-readonly::after,
.crm-form-readonly::after {
  content: "\f191";
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 1rem;
  color: #9e9e9e;
}

/* md-elem disabled */
.md-elem-disabled.md-select-single::after {
  color: #bdbdbd;
}

/* civicrm */
/* crm form elements */
/* crm tw address */
.crm-container div[class*="crm-section state_province-"] .crm-form-elem {
  margin-right: 15px;
}
.crm-container div[class*="crm-section state_province-"] .crm-form-elem:last-child {
  margin-right: 0;
}
.crm-container div[class*="crm-section state_province-"] .md-select-single .form-select,
.crm-container div[class*="crm-section state_province-"] .crm-form-post-code .form-text {
  width: 10rem;
}
