.newweb-error{
  border: 1px solid #FF3F3F;
  background: #FFEFEF;
  padding: 10px;
}
.hover-item {
  margin-left: 100px;
  margin-top: -5px;
  border: 1px solid #777;
  background: #FFFF99;
  padding: 3px;
  width: 300px;
}
