.pan_head {
  font-size: 12px;
}
.pan_body {
  font-size: 12px;
}
.pan_input {
  font-size: 12px;
}
.expiredate_head {
  font-size: 12px;
}
.expiredate_body {
  font-size: 12px;
}
.expiredate_select {
  font-size: 12px;
}
.extenno_head {
  font-size: 12px;
}
.extenno_body {
  font-size: 12px;
}
.extenno_input {
  font-size: 12px;
}
.button_body {
  font-size: 12px;
}
.confirm_button {
  font-size: 12px;
}
.reset_button {
  font-size: 12px;
}
