@charset "UTF-8";

:root {
  --nsp-width: 480px;
}
.netiaic-chat {
  min-height: 200px;
  padding: 20px;
  background: #a0aab3;
}
.netiaic-use-tpl {
  display: flex;
  gap: 10px;
  margin: 0;
  list-style: none;
}
.netiaic-use-tpl li {
  list-style: none;
}
.netiaic-modal {
  position: relative;
  margin: 40px auto;
  max-width: 90%;
  background: #fff;
}
.netiaic-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.netiaic-modal-title {
  font-size: 1.5rem;
}
.netiaic-modal-close {
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  border: 0;
  background: none;
}
.netiaic-modal-content {
  padding: 15px 20px;
}
.netiaic-command {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 70px 10px;
  max-width: 90%;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.netiaic-command .inner {
  padding: 10px;
}
.netiaic-command .netiaic-command-list {
  margin: 0;
  list-style: none;
}
.netiaic-command-list li {
  padding: 5px;
}
.netiaic-command-list li:hover {
  background: rgba(0,0,0,.05);
}
.netiaic-command-list a:not(.get-org-info),
.netiaic-command-list a:not(.get-org-info) i {
  color: #3F51B5;
}
.netiaic-command-item-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: .9375rem;
  color: #999;
}
.netiaic-command-list li:hover .netiaic-command-item-desc {
  color: #777;
}
.netiaic-command.is-active {
  display: block;
}
.nsp-container.nme-setting-panels .nsp-content {
  padding: 0;
}
.nsp-container.nme-setting-panels .nsp-content .nme-setting-panel:not(#nme-aicompletion) {
  padding: 20px 20px 60px 20px;
}

/** Particular: 1200 **/
@media screen and (min-width: 1200px) {
  .netiaic-modal {
    max-width: 1000px;
  }
}