.stat-expand {
  display: block;
  clear: both;
  cursor: pointer;
  margin: 10px 0;
}
#stat-wrapper {
  display: none;
}
#stat_dc{
  width: 50%; height: 250px;
  display: inline-block;
}
#stat_bc{
  width: 50%; height: 250px;
  display: inline-block;
}
