.pcplist-item {
  border-bottom: 1px dotted #CCC;
  padding: 10px;
}

.pcplist-image {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
  border: 1px solid #CCC;
}
.pcplist-image img {
  height: 100px;
}
.pcplist-count {
  margin-left: 120px;
}
.pcplist-intro {
  margin-left: 120px;
}
.pcplist-achievement {
  float: right;
  width: 150px;
  height: 100px;
}

.pcplist-fill-wrapper {
  background: #EEE;
  width: 100px;
  position: relative;
  height: 25px;
}
.pcplist-fill-height {
  background: #7da141;
  width: 100px;
  height: 25px;
  position: absolute;
  left: 0px;
  text-align: right;
  color: #FFF;
}
.pcplist-fill-pointer {
  position: absolute;
}
.pcplist-contrib {
  margin: 5px 0;
}
.pcplist-goal, .pcplist-achieved {
  display: none;
}
/* hide unecessery link in pcp page */
.pcp-create-your-own {
  display: none;
}
